
.centered{
  text-align: center;
  
}
.title{
  color: #61707D;
  
}
.blogentries{
  padding-top: 100 px;
  padding-left: 50px;
  display: grid;
  grid-row-gap: 50px;
  width: 50%;
  
}
.container{
 position: relative;
  width: auto;
  height: auto;
}
.entry{
  background-color: #cce6ff;
  display: block;
  transition: .5s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  
}
.entry:hover{
  opacity:.3;

}

#date{
  color: #AFBE8F;
  
}
.button,.entry{
  padding-left: 100px;
  position: relative;

}
.button{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #3264a8;
  border: none;
  width: 500px;
  height: 50px;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: auto;
  left: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .button{opacity: 0.5}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
  
